/* ==========================================================================
   #RESET
   ========================================================================== */

/* 
   #clearfix
   ========================================================================== */

/**
 * Using a placeholder prevents clearfixs from appearing all over the place.
 */

.#{$bare-ns}cf, 
%bare-cf {

	&:after {
		content: "";
		display: table;
		clear: both;
	}

}